.admin-map-container {
    padding: 20px;
    text-align: center;
  }
  
  .map-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .admin-map {
    height: 500px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .popup-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
  }
  
  .popup-table td {
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  .popup-table td:first-child {
    font-weight: bold;
  }
  
  .popup-footer {
    text-align: center;
  }
  
  .view-google-map-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white !important;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
  }
  
  .view-google-map-btn:hover {
    background-color: #0056b3;
  }
  .circle-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  .circle-icon.blue {
    background-color: #007bff; 
  }
  
  .circle-icon.orange {
    background-color: #ff7f0e; 
  }
  
  .circle-icon.green {
    background-color: #2ca02c; 
  }
  
  .circle-icon.purple {
    background-color: #9467bd; 
  }
  .legend {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;  
    align-items: center;
  }
  
  .legend ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;  
  }
  
  .legend li {
    display: flex;
    align-items: center;
  }
  
  .legend-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 8px;
  }
  
  .legend-icon.blue {
    background-color: #007bff;
  }
  
  .legend-icon.orange {
    background-color: #ff7f0e;
  }
  
  .legend-icon.green {
    background-color: #2ca02c;
  }
  
  .legend-icon.purple {
    background-color: #9467bd;
  }

.toggle-collected-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 0; 
  transition: background-color 0.3s ease;
}

.toggle-collected-btn:hover {
  background-color: #0056b3; 
}

.toggle-collected-btn:focus {
  outline: none;
}
