.admin-orders-container {
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .admin-orders-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .admin-orders-description {
    font-size: 16px;
    margin-bottom: 30px;
  }
  
  .admin-orders-table {
    width: 100%;
    border-collapse: collapse;
  }
  .cancel-btn {
    background-color: red; 
    color: white; 
    border: none; 
    padding: 10px 15px; 
    font-size: 14px; 
    cursor: pointer; 
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
  }
  .location-btn {
    background-color: #007bff;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .location-btn:hover {
    background-color: #0056b3;
  }
  
  .cancel-btn:hover {
    background-color: darkred; 
  }
  .admin-orders-container h2 {
    margin-top: 20px; 
  }
  
  
  .admin-orders-table th,
  .admin-orders-table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .admin-orders-table th {
    background-color: #f2f2f2;
  }
  
  .admin-orders-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .admin-orders-table tr:hover {
    background-color: #f1f1f1;
  }
  