/*carousle style*/
.Carousel.Item{
  height: 400px ;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Carousel.Item img{
   height: 100%;
    width: 100%;
    object-fit: cover;
}
@media (max-width: 768px) {
  .carousel-item {
    height: 300px;
  }
}

@media (max-width: 576px) {
  .carousel-item {
    height: 200px;
  }
}
/*card style*/
.card-link {
  text-decoration: none;
  color: inherit;
}

.custom-card {
  height: auto;
  margin: 5px; 
  width: 100%;
  max-width: 300px;
  border: none;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.custom-card:hover {
  transform: scale(1.05); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}
.custom-card img {
  height: auto;
  width: 100%;
  object-fit: cover;
  display: block;
}

.custom-card-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 50px;
  gap: 15px; 
  padding-left: 15px; 
  padding-right: 15px; 
}

/*commitment style*/
.commitment-section {
    text-align: center;
    margin-bottom: 50px;
    padding-top: 50px;
  }
  .commitment-section h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: blac;
  }
  
  .commitment-section p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .commitment-section .highlight {
    color: #28a745; 
    font-weight: bold;
    margin-bottom: 30px;
  }
  .order-now-btn {
    background-color: #2E7D32; 
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .order-now-btn:hover {
    background-color: rgb(76, 175, 80);
  }
  @media (max-width: 768px) /*for responsive*/
  {
    .commitment-section{
        margin-bottom: 20px;
        padding-top: 20px;
    }
    .commitment-section h2 {
      font-size: 20px;
    }
    .commitment-section p {
      font-size: 16px;
    }
    .order-now-btn {
      padding: 10px 20px;
      font-size: 16px;
    }
  }
  
  @media (max-width: 480px) {
    .commitment-section h2 {
      font-size: 18px;
    }
    .commitment-section p {
      font-size: 14px;
    }
    .order-now-btn {
      padding: 8px 16px;
      font-size: 14px;
    }
  }