/* General container for the checkout form */
.checkout-container {
  width: 100%;
  max-width: 900px;
  margin: 20px auto;
  padding: 30px 20px;  
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1), 
              0 4px 8px rgba(0, 0, 0, 0.1);  
}

.checkout-header {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

.checkout-forms {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Section for sender and recipient details */
.form-section {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

.form-section h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
}

/* Input fields */
.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
  color: #555;
}

.input-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-with-kg {
  display: flex;
  align-items: center;
}

.input-with-kg input {
  width: 80%;
  margin-right: 10px;
}

.input-with-kg span {
  font-size: 16px;
}

/* Error messages */
.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

/* Radio button and checkbox groups */
.checkbox-group {
  display: flex;
  align-items: center;
  flex-direction:column;
  gap: 5px;
}

.checkbox-group input[type="checkbox"] {
  margin-right: 5px;
}

.checkbox-group label {
  font-size: 16px;
  color: #555;
  margin-bottom:20px;
  margin-top:20px;
}

.radio-group label {
  margin-right: 15px; /* Adds space between radio buttons */
}

/* Submit Button */
.submit-button {
  width: 100%;
  padding: 12px;
  background-color: #28a745; /* Green color */
  border: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  box-sizing: border-box;
}

.submit-button:hover {
  background-color: #218838; /* Darker green */
}
.wasteamoutlable {
  margin-right: 20px; /*add space to right*/
}


/* Responsive Design */
@media (max-width: 768px) {
  .checkout-container {
    padding: 30px 15px;
     /* Slightly reduced padding on smaller screens */
  }

  .checkout-header {
    font-size: 24px;
  }

  .form-section h3 {
    font-size: 18px;
  }

  .input-group input {
    font-size: 14px;
    padding: 8px;
  }

  .checkbox-group input[type="checkbox"] {
    transform: scale(1.2);
  }

  .submit-button {
    font-size: 16px;
  }
}

/* Mobile devices */
@media (max-width: 480px) {
  .checkout-container {
    padding: 20px 10px; /* Further reduced padding for mobile */
  }

  .checkout-header {
    font-size: 22px;
  }

  .form-section h3 {
    font-size: 16px;
  }

  .input-group input {
    font-size: 14px;
    padding: 8px;
  }

  .submit-button {
    font-size: 16px;
  }
}
