.change-password-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
    padding: 20px;
  }
  
  .form-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 400px;
  }
  
  .form-container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333333;
    text-align: center;
  }
  
  .input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .input-box label {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 1rem;
    color: #495057;
    text-align: left;
  }
  
  .input-box input {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.2s ease-in-out;
  }
  
  .input-box input:focus {
    border-color: #28a745;
  }
  
  .error {
    font-size: 0.9rem;
    color: red;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .submit-button {
    width: 100%;
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease-in-out;
  }
  
  .submit-button:hover {
    background: #218838;
  }
  .success {
    font-size: 0.9rem;
    color: green;
    text-align: center;
    margin-bottom: 10px;
  }