.order-history {
    padding: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  button.cancel-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
  }
  
  button.cancel-btn:hover {
    background-color: darkred;
  }
  
  .confirmation-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .confirmation-box {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 300px;
  }
  
  .confirmation-box p {
    margin-bottom: 20px;
  }
  
  button.confirm-btn {
    background-color: red ;
    color: white;
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
  }
  
  button.confirm-btn:hover {
    background-color: darkred !important;
  }
  
  button.cancel-btn {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  button.cancel-btn:hover {
    background-color: darkred;
  }
  