.search-box {
  max-width: 500px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px black;
  padding: 20px; 
}

.search-box h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.input-container {
  display: flex;
  align-items: center; 
  gap: 10px; 
  margin-top: 1rem;
}

.search-input {
  flex: 1; 
  border-radius: 5px; 
  padding: 10px; 
  font-size: 16px; 
  box-sizing: border-box; 
}

.search-btn {
  border: none;
  background-color: #2E7D32;
  color: white;
  border-radius: 5px; 
  padding: 10px 15px; 
  font-size: 16px;
}

.search-btn:hover {
  background-color: rgb(76, 175, 80) !important;
  cursor: pointer;
}

.submit-btn,
.confirm-btn {
  border: none;
  background-color:#2E7D32 ;
  color: white;
  border-radius: 5px; 
  padding: 10px 15px;
  font-size: 16px;
}

.submit-btn:hover,
.confirm-btn:hover {
  background-color:rgb(76, 175, 80)  !important; 
  cursor: pointer;
}
.modal-header {
  background-color: #2E7D32; 
  color: white; 
  border-bottom: none;
}
.modal-footer .btn {
  width: 100px; 
  height: 40px;
}

.modal-footer .btn-secondary {
  background-color: white; 
  color: black; 
}

.modal-footer .btn-secondary:hover {
  background-color: lightgray; 
  color: black;
  border-color: black;
}

.modal-footer .confirm-btn:hover {
  background-color:black; 
}
.locate-btn {
  border: none;
  background-color: #2E7D32;
  color: white;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
}

.locate-btn:hover {
  background-color: rgb(76, 175, 80) !important; 
  cursor: pointer;
}

/* for responsive */
@media (max-width: 768px) {
  .search-box {
    max-width: 90%; 
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 4px black; 
  }

  .search-box h4 {
    font-size: 1.25rem;
  }

  .input-container {
    flex-direction: column;
  }

  .search-input,
  .search-btn {
    width: 100%; 
    margin-bottom: 10px;
  }

  .search-btn,
  .search-input {
    font-size: 14px;
    padding: 8px;
  }

  .submit-btn,
  .confirm-btn,
  .locate-btn {
    font-size: 14px;
    padding: 8px 12px;
  }

  .modal-content {
    padding: 15px;
  }

  .modal-body p {
    font-size: 14px;
  }

  .modal-body h5 {
    font-size: 16px;
  }

  .modal-footer button {
    font-size: 14px;
    padding: 8px 12px;
  }

  .responsive-modal .modal-dialog {
    max-width: 95%;
    margin: 10px auto;
  }
}

@media (max-width: 576px) {
  .search-box {
    margin: 0 15px; 
    padding: 10px;
    box-shadow: 0 2px 4px black;
  }

  .address-details-form {
    margin: 0 15px; 
  }

  .search-box h4 {
    font-size: 1.25rem;
  }

  .search-btn,
  .search-input {
    font-size: 14px;
    padding: 8px;
  }

  .submit-btn,
  .confirm-btn {
    font-size: 14px;
    padding: 8px 12px;
  }

  .locate-btn {
    font-size: 14px;
    padding: 8px 12px;
  }

  .modal-content {
    padding: 15px;
  }

  .modal-body p {
    font-size: 14px;
  }

  .modal-body h5 {
    font-size: 16px;
  }

  .modal-footer button {
    font-size: 14px;
    padding: 8px 12px;
  }

  .responsive-modal .modal-dialog {
    max-width: 95%;
    margin: 10px auto;
  }
}
