body {
  margin: 0;
  padding: 0;
  background-color: #f4f7f6;
  color: #333;
}

.subscription-container {
  text-align: center;
  padding: 40px 20px;
  background-color: #ffffff;
  border-bottom: 3px solid #b7e4c7;
}

.subscription-title {
  font-size: 32px;
  color: #000000;
  margin-bottom: 30px;
}

.plans-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 20px;
  padding: 0 10px;
}

.plan {
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  width: 380px;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.plan:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.plan-header {
  width: 100%;
  height: auto; 
  border-radius: 5px;
  overflow: hidden;
  margin: 0 0 20px; 
  padding: 0;
}

.plan-header img {
  width: 100%; 
  height: auto; 
  object-fit: cover; 
  display: block;
}

.plan h2 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #000000;
}

.plan ul {
  list-style: disc;
  padding-left: 20px;
  margin: 0;
}

.plan ul li {
  margin: 10px 0;
  font-size: 16px;
  line-height: 1.5;
  color: #555555;
}

.note {
  font-size: 14px;
  color: #333333;
  margin-top: 40px;
  padding: 15px;
  background-color: #fff3cd;
  border: 1px solid #ffeeba;
  border-radius: 5px;
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.note strong {
  color: #000000;
}


@media screen and (max-width: 768px) {
  .plans-wrapper {
    flex-direction: column; 
    align-items: center; 
  }

  .plan {
    width: 100%; 
  }

  .plan-header {
    margin: 0 0 15px; 
  }

  .note {
    width: 95%; 
  }

  .subscription-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 480px) {
  .subscription-title {
    font-size: 20px; 
    margin-bottom: 20px;
  }

  .plan {
    padding: 10px; 
    border-radius: 8px; 
  }

  .plan h2 {
    font-size: 16px; 
    margin-bottom: 10px;
  }

  .plan ul li {
    font-size: 12px; 
  }

  .plan-header {
    margin: 0 0 10px; 
  }

  .note {
    font-size: 12px; 
    padding: 10px;
  }
}
