body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f7f6;
  color: #333;
}

.subscription-container {
  text-align: center;
  padding: 40px 20px;
  background-color: #ffffff;
  border-bottom: 3px solid #b7e4c7;
}

.subscription-title {
  font-size: 32px;
  color: #000000;
  margin-bottom: 20px;
}

.plans-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0 10px;
}

.plan {
  background-color: rgb(255, 255, 255);
  background-blend-mode: darken;
  border: 1px solid #a8a8a87f;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15), 0px -4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 25px;
  width: 280px;
  text-align: center;
  transition: transform 0.4s ease, box-shadow 0.4s ease, background-size 0.4s ease;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  color: #090909;
}

.plan:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.plan h2 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #000000;
}

.plan ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.plan ul li {
  margin: 15px 0;
  font-size: 15px;
  color: #090909;
}

.plan ul li strong {
  color: #ffe000;
  font-weight: bold;
}

.daily {
  background-image: url('');
}

.weekly {
  background-image: url('');
}

.monthly {
  background-image: url('');
}

.note {
  font-size: 18px;
  color: #000000;
  margin-top: 20px;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .plans-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .plan {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .subscription-title {
    font-size: 26px;
  }
  .plan {
    padding: 20px;
  }
  .plan h2 {
    font-size: 18px;
  }
  .plan ul li {
    font-size: 14px;
  }
} 